<%= javascript_tag do %>

  Wavelineup.set_base_data = function () {
    Wavelineup.instance.collections.option_selectors = new Wavelineup.Collections.OptionSelectors();
    Wavelineup.instance.collections.option_selectors.reset(<%= raw @option_selectors_json %>);

    Wavelineup.instance.collections.option_selector_options = new Wavelineup.Collections.OptionSelectorOptions();
    Wavelineup.instance.collections.option_selector_options.reset(<%= raw @option_selector_options_json %>);
  }

  $(document).ready(function() {
    Wavelineup.init();
  });
<% end %>
<div id='container'>Loading...</div>

