<%= javascript_tag do %>
  Wavelineup.set_base_data = function () {
    Wavelineup.instance.collections.option_selectors = new Wavelineup.Collections.OptionSelectors();
    Wavelineup.instance.collections.option_selectors.reset(<%= raw @option_selectors_json %>);

    Wavelineup.instance.collections.option_selector_options = new Wavelineup.Collections.OptionSelectorOptions();
    Wavelineup.instance.collections.option_selector_options.reset(<%= raw @option_selector_options_json %>);

    Wavelineup.instance.collections.accounting_transactions = new Wavelineup.Collections.AccountingTransactions();
    // have to manually set things up as reset does not go through BBCollection#parse
    var accounting_transactions_json = <%= raw @accounting_transactions_json %>;
    Wavelineup.instance.collections.accounting_transactions.reset(accounting_transactions_json.records);
    Wavelineup.instance.collections.accounting_transactions.total_record_count = accounting_transactions_json.total_record_count;
    Wavelineup.instance.collections.accounting_transactions.page_size = accounting_transactions_json.page_size;
    Wavelineup.instance.collections.accounting_transactions.page_number = accounting_transactions_json.page_number;
  }

  $(document).ready(function() {
    Wavelineup.init();
  });
<% end %>
<div id='container'>Loading...</div>

