<div id='container'>Loading...</div>

<script id='accounting_transaction_index' type='text/x-handlebars-template'>
  <h1>Hello World Index View from Backbone!!!</h1>
  <p>
    {{content}}
  </p>
</script>

