<div id='notices'></div>

<h1>Hello World Index View from Backbone!!!</h1>

<div class='accounting_transaction' data-id='new'>
  {{>accounting_transaction_form_fields}}
</div>

<ul id='accounting_transactions'>
</ul>

<style>
  ul.selector li {
    display: inline-block;
    border: solid 1px black; 
    width: 1.5in; 
    height: 0.25in;
    list-style-type: none;
  }
  #a_selector {
    display: none;
  }
</style>
<ul class='selector' id='a_selector'>
  <li id='button_one' onmousedown="$('.accounting_transaction[data-id=\'new\'] #credit_debit_id').html($(this).html()); $(this).parent().hide()">1</li>
  <li id='button_two' onmousedown="$('.accounting_transaction[data-id=\'new\'] #credit_debit_id').html($(this).html()); $(this).parent().hide()">2</li>
</ul>
