<div id='notices'></div>

<h1>Hello World Index View from Backbone!!!</h1>

<ul class='selector' id='accounting_transaction__new'>
  <li><input type='text' id='accounting_transaction__date_time__new'></li>
  <li id='accounting_transaction__credit_debit_id__new' class='show_selector' data-selector_id='a_selector'>{{credit_debit_id}}</li>
  <li><input type='text' id='accounting_transaction__amount__new'></li>
  <li><input type='text' id='accounting_transaction__category_id__new'></li>
  <li><input type='text' id='accounting_transaction__account_id__new'></li>
  <li><input type='text' id='accounting_transaction__note__new'></li>
  <li><input id='accounting_transaction__save__new' type='submit' value='Save'></li>
</ul>

<ul id='accounting_transactions'>
</ul>

<style>
  ul.selector li {
    display: inline-block;
    border: solid 1px black; 
    width: 1.5in; 
    height: 0.25in;
    list-style-type: none;
  }
  #a_selector {
    display: none;
  }
</style>
<ul class='selector' id='a_selector'>
  <li id='button_one' class='selected_value' data-value='1'>1</li>
  <li id='button_two' class='selected_value' data-value='2'>2</li>
</ul>
