<div id='notices'></div>

<h1>Hello World Index View from Backbone!!!</h1>

<div id='new_accounting_transaction'>
  {{>accounting_transaction_form_fields}}
</div>

<ul id='accounting_transactions'>
</ul>

<style>
  ul.selector li {
    display: inline-block;
    border: solid 1px black; 
    width: 1.5in; 
    height: 0.25in;
    list-style-type: none;
  }
  #a_selector {
    display: none;
  }
</style>
<ul class='selector' id='a_selector'>
  <li onmousedown="$('#accounting_transaction_t_type_id').html($(this).html()); $(this).parent().hide()">1</li>
  <li onmousedown="$('#accounting_transaction_t_type_id').html($(this).html()); $(this).parent().hide()">2</li>
</ul>
