<div id='notices'></div>

<h1>Hello World Index View from Backbone!!!</h1>

{{>new_accounting_transaction_form}}

<ul id='accounting_transactions'>
</ul>

<style>
  .selector_cell {
    border: solid 1px black; 
    width: 0.5in; height: 0.5in;
    list-style-type: none;
  }
  #a_selector {
    display: none;
  }
</style>
<ul id='a_selector'>
  <li class='selector_cell' onmousedown="$('#accounting_transaction_t_type_id').html($(this).html()); $(this).parent().hide()">1</li>
  <li class='selector_cell' onmousedown="$('#accounting_transaction_t_type_id').html($(this).html()); $(this).parent().hide()">2</li>
</ul>
