<div id='notices'></div>

<h1>Hello World Index View from Backbone!!!</h1>

<input id='accounting_transaction__new__button' type='submit' value='New'>

<table id='test_datatable'>
  <thead>
    <tr>
      <th>C1</th>
      <th>C2</th>
      <th>C3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>C1</td>
      <td>C2</td>
      <td>C3</td>
    </tr>
    <tr>
      <td>C1</td>
      <td>D</td>
      <td>C3</td>
    </tr>
    <tr>
      <td>C1</td>
      <td>C2</td>
      <td>C3</td>
    </tr>

  </tbody>
</table>

<ul id='accounting_transactions'>
</ul>

<style>
  ul.selector li {
    display: inline-block;
    border: solid 1px black; 
    width: 1.5in; 
    height: 0.25in;
    list-style-type: none;
  }
  #a_selector {
    display: none;
  }
</style>
<ul class='selector' id='a_selector'>
  <li id='button_one' class='selected_value' data-value='1'>1</li>
  <li id='button_two' class='selected_value' data-value='2'>2</li>
</ul>
